* {
    margin: 0px;
}

#fondo {
    width: 970px;
    background-color: silver;
    margin: 0px;
    padding: 10px;
}

#principal {
    width: 940px;
    display: inline-block;
    background-color: rgb(168, 32, 32);
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 15px;
    color: white;
    height: 50px;
}

#menu {
    background-color: #369294;
    margin-top: 14px;
    vertical-align: top;
    display: inline-block;
    border-radius: 15px;
    padding: 10px;
    margin-right: 20px;
    color: #3effff
}

#main_content {
    min-height: 400px;
    width: 680px;
    color: white;
    display: inline-block;
    background-color: rgb(63, 63, 107);
    vertical-align: top;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
}

.hola {
    color: cyan !important;
}

#advertisement {
    min-height: 40px;
    width: 930px;
    color: white;
    background-color: rgb(105, 100, 105);
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

span {
    color: rgb(166, 93, 202);
}