* {
    margin: 0px;
    padding: 0px;
}

.icono1 {
    width: 50px;
    height: 50px;
}

h1 {
    color: black;
    font-weight: normal;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
    margin-right: 500px;
    padding: 5px;
}

h2 {
    color: white;
    font-weight: normal;
    font-size: 20px;
    font-family: Arial;
    vertical-align: auto;
    background-color: rgba(40, 43, 43, 0.514);
    padding: 10px;
    background-image: linear-gradient(rgb(245, 237, 237), rgb(110, 110, 106), white);
}

h3 {
    display: inline-block;
}

#fondo {
    width: 970px;
    height: 1150px;
    background-color: silver;
    margin: 20px;
    padding: 0px;
    display: inline-block;
}

#subconten {
    width: 940px;
    height: 950px;
    background-color: rgb(80, 65, 65);
    margin: 0px;
    padding: 15px;
    display: inline-block;
}

#foto {
    width: 400px;
    background-color: silver;
    height: 250px;
    padding: 10px;
    margin-top: 30px;
    display: inline-block;
}

#subconten1 {
    width: 450px;
    height: 250px;
    background-color: rgb(161, 167, 161);
    margin: 30px;
    padding: 0px;
    display: inline-block;
    vertical-align: top;
}

#lamode {
    width: 280px;
    height: 200px;
}

#familycontacts {
    width: 280px;
    height: 200px;
}

#fiveEleven {
    width: 280px;
    height: 200px;
}

.conten1 {
    width: 280px;
    height: 600px;
    background-color: silver;
    margin: 10px;
    padding: 0px;
    display: inline-block;
    vertical-align: top;
}

.lamode {
    width: 90px;
    color: white;
    border-radius: 10px;
    background-color: rgb(89, 151, 89);
    margin: 0px 0px 0px 80px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.familycontacts {
    width: 110px;
    color: white;
    border-radius: 10px;
    background-color: rgb(89, 151, 89);
    margin: 0px 0px 0px 80px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.icono2 {
    width: 20px;
    height: 20px;
    color: black;
}

h4 {
    text-align: center;
    font-family: sans-serif
}

.redessociales {
    text-align: center;
    font-family: cursive, Georgia, Times, 'Times New Roman', serif;
    vertical-align: middle;
    text-decoration-color: black;
    margin: 10px;
}

.color1 {
    height: 150px;
    margin: 5px;
}

#footer {
    text-align: center;
    margin: 30px;
    padding: 0px;
}

.texto1 {
    margin: 10px;
    padding: 0px;
}

.link1 {
    color: black;
    margin: 5px;
}

.link2 {
    color: black;
    font-family: cursive;
}